<%= form_with model: [:admin, @test, @question], local: true do |f| %>
  <%= render 'shared/errors', resource: @question %>
  <div class="form-group">
    <p>
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
    </p> 
  </div>

  <div class="form-group">
    <p><%= f.submit class: 'btn btn-success' %></p>
  </div>

<% end %>
