<h3>
  <%= @question.body %>
</h3>

<h5><%= t('.answer') %></h5>
<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>
<ol><%= render @question.answers %></ol>

<%= link_to t('.back'), admin_test_path(@question.test) %>
