<h1><%= t('.header') %></h1>

<p><%= link_to t('.create_new'), new_admin_test_path, class: 'badge badge-success' %></p>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col" class="sort-by-title pointer">
        <%= t('.test') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th scope="col"><%= t('.category') %></th>
      <th scope="col"><%= t('.questions') %></th>
      <th class="text-center" scope="col" colspan="3"><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
